$spriteIcons: url(../../assets/images/empiricus-sprites.png);
$knowMoreBackground: url(../../assets/images/institucional.jpg);
$whiteColor: #ffffff;
$redColor: #b21736;
$redColor2: #e11a33;
$blackColor: #000000;
$blackColor2: #282727;
$grayColor: #6d6d6d;



