	@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,600,900');

	* {
		padding: 0;
		outline: none;
		margin: 0;
		-webkit-transition:0.3s ease-out;
		-moz-transition:0.3s ease-out;
		-o-transition:0.3s ease-out;
		transition:0.3s ease-out;
		-webkit-transition-property:background-color,color,border-color,opacity;
		-moz-transition-property:background-color,color,border-color,opacity;
		-o-transition-property:background-color,color,border-color,opacity;
		transition-property:background-color,color,border-color,opacity;
		font-family: "Raleway", Arial, sans-serif;
	}

	input,label,select,button,textarea {
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
}

	input:focus	{
		outline:0;
	}

	input, textarea	{
		-webkit-box-sizing:content-box;
		-moz-box-sizing:content-box;
		box-sizing:content-box;
	}

	button,	input[type=reset],	input[type=button],	input[type=submit],	input[type=checkbox], input[type=radio], select	{
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	::-webkit-search-decoration	{
		display:none;
	}

	button,	input[type="reset"], input[type="button"], input[type="submit"]	{
		overflow:visible;
		width:auto;
	}

	::-webkit-file-upload-button {	
		padding:0;
		border:0;
		background:none;
	}

	/* variables 
		whiteColor: #ffffff;
		redColor: #b21736;
		redColor2: #e11a33;
		blackColor: #000000;
		grayColor: #6d6d6d;
	*/
	

	/* CSS FOR ALL MEDIA QUERIES   */
	/* HEADER  */
	header {
		width: 100%;
		background: #ffffff;
		padding: 38px 0 26px 0;
		float: left;
	}
	.wrapper {
		margin: 0 auto;
		position: relative;

	}
	header #logotype {
		background: url(../../assets/images/empiricus-sprites.png) 0px 0px;
	    width: 210px;
	    height: 90px;
	    text-indent: -99999px;
	    position: relative;
	    float: left;
	}
	header #logotype a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 90px;

	}
	header ul {
		list-style-type: none;
		padding-top: 31px;
		padding-left: 265px;
	}
	
	

	header ul li a:link, header ul li a:visited {
		padding: 10px;
    	float: left;
    	background-color: #ffffff;
    	font-size: 15px;
    	text-transform: uppercase;
    	text-decoration: none;
    	color: #000000;
	}
	header ul li a:hover {
		background-color: #e11a33;
		color: #ffffff;
	}

	/* SECTION  */
	section {
		width: 100%;
		float: left;
		padding: 73px 0;

	}

	section h1 {
		font-size: 42px;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 25px;
	}

	section h2 {
		color: #6d6d6d;
		text-transform: uppercase;
		font-weight: 500;
		margin-bottom: 30px;
		font-size: 29px;
	}

	section p {
		color: #6d6d6d;
	    font-weight: 400;
	    margin-bottom: 38px;
	    font-size: 21px;
	    line-height: 30px;
	}

	section button {
		background: #b21736;
		color: #ffffff;
		text-align: center;
		padding: 23px 49px;
		font-size: 21px;
		text-transform: uppercase;
		font-weight: 600;
		cursor: pointer;
		margin-left: -5px;
	}
	section button:hover {
		background: #e11a33;
	}

	section .aligncenter {
		width: 100%;
		text-align: center;
		float: left;
	}

	section h1.red {
		color: #b21736;
	}

	section h4 {
		font-size: 21px;
		color: #ffffff;
		font-weight: 400;
	}

	section.form {
		padding: 0;
		position: relative;
	}
	section.form #main-slider {
		background: url(../../assets/images/dolar.jpg) center center;
		margin-bottom: -20px;
	}

	section.form .text {
		padding: 80px 0;
		text-align: center;
	}

	section.form h1 {
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 0;
	}

	section.form input {
		padding: 21px 30px;
	    color: #e11a33;
	    font-size: 21px;
	    font-style: italic;
	    width: 392px;
	    background: #ffffff;
	}

	section.form h4 {
		font-weight: 400;
		padding: 54px 0;
		color: #ffffff;

	}

	section.form a:link, section.form a:visited {
		text-decoration: none;
		color: #ffffff;
	}

	section.form .social-media {
		position: absolute;
	    top: 160px;
	    left: -48px;
	}

	section.form .social-media ul {
	    list-style-type: none;
	    height: 100px;
	    width: 50px;
	}

	section.form .social-media ul li{
		float: left;
	    background: url(../../assets/images/empiricus-sprites.png);
	    height: 48px;
	    width: 48px;
	    position: relative;
	}

	section.form .social-media ul li a:link, section.form .social-media ul li a:visited{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 57px;
	}

	section.form .social-media ul li.facebook {
		background-position: -6px -105px;
	}

	section.form .social-media ul li.twitter {
		background-position: -6px -161px;
	}

	section.form .social-media ul li.linkedin {
		background-position: -6px -209px;
	}

	section.form .social-media ul li.googleplus {
		background-position: -6px -257px;
	}

	section.form .social-media ul li.whatsapp {
		background-position: -6px -305px;
	}

	section.form .social-media ul li.email {
		background-position: -6px -353px;
	}
	
	section.form .next-page:before {
		content: "";
	    float: left;
	    clear: both;
	    width: 55px;
	    height: 53px;
	    background: url(../../assets/images/empiricus-sprites.png) -248px -25px;
	    position: absolute;
	    cursor: pointer;
    	left: 48%;
   	    bottom: -25px;
	}

	section.text1 {
		background: #282727;
	}
	section.text2 {
		background: #ffffff;
	}

	section.know-more {
		background: url(../../assets/images/institucional.jpg) center center;	
	}

	section.know-more h2 {
		font-weight: 900;
		color: #ffffff;
	}

	section.know-more p {
		color: #ffffff;
		width: 570px;
	}
	section.know-more .wrapper {
		position: relative;
	}

	section.know-more .wrapper:after {
		content: "";
	    background: url(../../assets/images/empiricus-sprites.png)  -54px 563px;
	    top: -73px;
	    right: 0px;
	    height: 435px;
	    width: 540px;
	    position: absolute;
	}

	section .back-top {
		position: relative;
		padding-left: 68px;
	}
	section .back-top:before {
	    content: "";
	    width: 40px;
	    height: 40px;
	    position: absolute;
	    top: 10px;
	    left: 20px;
	    background: url(../../assets/images/empiricus-sprites.png) -309px -26px;
	}

	/* FOOTER  */ 
	footer {
		width: 100%;
		float: left;
		background: #000;
		padding: 28px 0;
	}

	footer h3 {
	    color: #fff;
	    text-transform: uppercase;
	    font-size: 18px;
	    font-weight: 400;
	    margin-bottom: 12px;
	}

	footer .pin {
	    background: url(../../assets/images/empiricus-sprites.png) -72px -136px;
	    width: 36px;
	    height: 48px;
	}
	footer p {
		color: #fff;
		font-size: 14px;
	}

	footer .f1, footer .f2, footer .f3  {
		width: 410px;
   		float: left;
		margin-bottom: 60px;
	}

	footer .f2 {
		width: 240px;
	}

	footer .f3 {
		width: 200px;

	}

	footer .f3 a:link, footer .f3 a:visited {
		text-decoration: none;
		color: #fff;
	}

	footer .footer-text {
	    clear: both;
	    float: left;
	    font-size: 12px;
	    margin: 8px 0;
	}

	footer .social-media {
		list-style-type: none;
	}

	footer .social-media .facebook,
	footer .social-media .twitter,
	footer .social-media .linkedin,
	footer .social-media .googleplus,
	footer .social-media .whatsapp, 
	footer .social-media .email	{
		float: left;
		background: url(../../assets/images/empiricus-sprites.png);
		width: 30px;
		height: 30px;
		position: relative;
	}

	footer .social-media .facebook {
		background-position: 728px -105px;
	}

	footer .social-media .twitter {
		background-position: 698px -105px;
	}

	footer .social-media .linkedin {
		background-position: 668px -105px;
	}

	footer .social-media .googleplus {
		background-position: 639px -105px;
	}

	footer .social-media .whatsapp {
		background-position: 609px -105px;
	}

	footer .social-media .email {
		background-position: 580px -105px;
	}

	footer .social-media a:link, footer .social-media a:visited {
		width: 30px;
		height: 30px;
		position: absolute;
		top: 0;
		left: 0;
	}



	/* CSS  DESKTOP */
	@media screen and (min-width: 921px) {
		.wrapper {
			width: 921px;
		}
	}

	/* CSS TABLETS AND LAPTOPS*/
	@media screen and (max-width: 1165px) {
		.wrapper {
			width: 590px;
		}
	}

	/* CSS MOBILE PHONES */
	@media screen and (max-width: 670px), only screen and (max-device-width: 480px) {
		.wrapper {
			width: 280px;
		}
		header ul {
			padding-left: initial;
		}
		header ul li a:link, header ul li a:visited {
			font-size: 12px;
			padding-right: 0px;
			width: 100%;
		}
	}