@import "globals";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,600,900');

	* {
		padding: 0;
		outline: none;
		margin: 0;
		-webkit-transition:0.3s ease-out;
		-moz-transition:0.3s ease-out;
		-o-transition:0.3s ease-out;
		transition:0.3s ease-out;
		-webkit-transition-property:background-color,color,border-color,opacity;
		-moz-transition-property:background-color,color,border-color,opacity;
		-o-transition-property:background-color,color,border-color,opacity;
		transition-property:background-color,color,border-color,opacity;
		font-family: "Raleway", Arial, sans-serif;
	}

	input,label,select,button,textarea {
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
}

	input:focus	{
		outline:0;
	}

	input, textarea	{
		-webkit-box-sizing:content-box;
		-moz-box-sizing:content-box;
		box-sizing:content-box;
	}

	button,	input[type=reset],	input[type=button],	input[type=submit],	input[type=checkbox], input[type=radio], select	{
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	::-webkit-search-decoration	{
		display:none;
	}

	button,	input[type="reset"], input[type="button"], input[type="submit"]	{
		overflow:visible;
		width:auto;
	}

	::-webkit-file-upload-button {	
		padding:0;
		border:0;
		background:none;
	}


	/* CSS FOR ALL MEDIA QUERIES   */
	/* HEADER  */
	.wrapper {
		margin: 0 auto;
		position: relative;

	}
	header {
		width: 100%;
		background: $whiteColor;
		padding: 38px 0 26px 0;
		float: left;
		
		#logotype {
			background: ($spriteIcons) 0px 0px;
		    width: 210px;
		    height: 90px;
		    text-indent: -99999px;
		    position: relative;
		    float: left;
		}

		#logotype a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 90px;
		}

		 ul {
			list-style-type: none;
			padding-top: 31px;
			padding-left: 265px;
		}
		
		ul li a:link,  ul li a:visited {
			padding: 10px;
	    	float: left;
	    	background-color: $whiteColor;
	    	font-size: 15px;
	    	text-transform: uppercase;
	    	text-decoration: none;
	    	color: $blackColor;
		}

		 ul li a:hover {
			background-color: $redColor2;
			color: $whiteColor;
		}
	}

	/* SECTION  */
	section {
		width: 100%;
		float: left;
		padding: 73px 0;

		h1 {
			font-size: 42px;
			text-transform: uppercase;
			color: $whiteColor;
			margin-bottom: 25px;
		}

		h2 {
			color: $grayColor;
			text-transform: uppercase;
			font-weight: 500;
			margin-bottom: 30px;
			font-size: 29px;
		}

		p {
			color: $grayColor;
		    font-weight: 400;
		    margin-bottom: 38px;
		    font-size: 21px;
		    line-height: 30px;
		}

		button {
			background: $redColor;
			color: $whiteColor;
			text-align: center;
			padding: 23px 49px;
			font-size: 21px;
			text-transform: uppercase;
			font-weight: 600;
			cursor: pointer;
			margin-left: -5px;
		}
		button:hover {
			background: $redColor2;
		}

		.aligncenter {
			width: 100%;
			text-align: center;
			float: left;
		}

		h1.red {
			color: $redColor;
		}

		h4 {
			font-size: 21px;
			color: $whiteColor;
			font-weight: 400;
		}
	}
	
	section.form {
			padding: 0;
			position: relative;
		
			#main-slider {
				margin-bottom: -20px;
			}

			.text {
				padding: 80px 0;
				text-align: center;
			}

		 h1 {
			text-transform: uppercase;
			color: $whiteColor;
			margin-bottom: 0;
		}

		input {
			padding: 21px 30px;
		    color: $redColor2;
		    font-size: 21px;
		    font-style: italic;
		    width: 392px;
		    background: $whiteColor;
		}
		input::placeholder {
			color: $redColor2;
		}

		h4 {
			font-weight: 400;
			padding: 54px 0;
			color: $whiteColor;

		}
		
		a:link,  a:visited {
		text-decoration: none;
		color: $whiteColor;
		}

		.social-media {
		position: absolute;
	    top: 160px;
	    left: -48px;
		}

		.social-media ul {
	    list-style-type: none;
	    height: 100px;
	    width: 50px;
		}

		.social-media ul li{
		float: left;
	    background: ($spriteIcons);
	    height: 48px;
	    width: 48px;
	    position: relative;
		}

		.social-media ul li a:link, .social-media ul li a:visited{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 57px;
		}

		.social-media ul li.facebook {
			background-position: -6px -105px;
		}

		.social-media ul li.twitter {
			background-position: -6px -161px;
		}

		.social-media ul li.linkedin {
			background-position: -6px -209px;
		}

		.social-media ul li.googleplus {
			background-position: -6px -257px;
		}

		.social-media ul li.whatsapp {
			background-position: -6px -305px;
		}

		.social-media ul li.email {
			background-position: -6px -353px;
		}
	
		.next-page:before {
			content: "";
		    float: left;
		    clear: both;
		    width: 55px;
		    height: 53px;
		    background: ($spriteIcons) -248px -25px;
		    position: absolute;
		    cursor: pointer;
	    	left: 48%;
	   	    bottom: -25px;
		}
	}

	section.text1 {
		background: $blackColor2;
	}
	section.text2 {
		background: $whiteColor;
	}

	section.know-more {
		background: ($knowMoreBackground) center center;	
	

		h2 {
		font-weight: 900;
		color: $whiteColor;
		}

		p {
		color: $whiteColor;
		width: 570px;
		}
		.wrapper {
		position: relative;
		}

		.wrapper:after {
		content: "";
	    background: ($spriteIcons)  -54px 563px;
	    top: -73px;
	    right: 0px;
	    height: 435px;
	    width: 540px;
	    position: absolute;
		}
	}

	section .back-top {
		position: relative;
		padding-left: 68px;
	}
	
	section	.back-top:before {
	    content: "";
	    width: 40px;
	    height: 40px;
	    position: absolute;
	    top: 10px;
	    left: 20px;
	    background: ($spriteIcons) -309px -26px;
		}
	

	/* FOOTER  */ 
	footer {
		width: 100%;
		float: left;
		background: $blackColor;
		padding: 28px 0;

		h3 {
	    color: $whiteColor;
	    text-transform: uppercase;
	    font-size: 18px;
	    font-weight: 400;
	    margin-bottom: 12px;
		}

		.pin {
	    background: ($spriteIcons) -72px -136px;
	    width: 36px;
	    height: 48px;
		}

		p {
		color: $whiteColor;
		font-size: 14px;
		}

		.f1, .f2, .f3  {
		width: 410px;
   		float: left;
		margin-bottom: 60px;
		}

		.f2 {
		width: 240px;
		}

		.f3 {
		width: 200px;

		}

		.f3 a:link, .f3 a:visited {
		text-decoration: none;
		color: $whiteColor;
		}

		.footer-text {
	    clear: both;
	    float: left;
	    font-size: 12px;
	    margin: 8px 0;
		}

		.social-media {
		list-style-type: none;
		}

		.social-media .facebook,
		.social-media .twitter,
		.social-media .linkedin,
		.social-media .googleplus,
		.social-media .whatsapp, 
		.social-media .email	{
		float: left;
		background: ($spriteIcons);
		width: 30px;
		height: 30px;
		position: relative;
		}

		.social-media .facebook {
		background-position: 728px -105px;
		}

	 	.social-media .twitter {
		background-position: 698px -105px;
		}

	 	.social-media .linkedin {
		background-position: 668px -105px;
		}

	 	.social-media .googleplus {
		background-position: 639px -105px;
		}

		.social-media .whatsapp {
		background-position: 609px -105px;
		}

	 	.social-media .email {
		background-position: 580px -105px;
		}

	 	.social-media a:link,  .social-media a:visited {
		width: 30px;
		height: 30px;
		position: absolute;
		top: 0;
		left: 0;
		}
	}



	/* CSS  DESKTOP */
	@media screen and (min-width: 921px) {
		.wrapper {
			width: 921px;
		}
	}

	/* CSS TABLETS AND LAPTOPS*/
	@media screen and (max-width: 1165px) {
		.wrapper {
			width: 590px;
		}
		section.know-more .wrapper:after {
			background: transparent;
		}
	}

	/* CSS MOBILE PHONES */
	@media screen and (max-width: 670px), only screen and (max-device-width: 480px) {
		.wrapper {
			width: 280px;
		}
		header ul {
			padding-left: initial;
		}
		header ul li a:link, header ul li a:visited {
			font-size: 12px;
			padding-right: 0px;
			width: 100%;
		}
		section.form {
			.next-page:before {
			left: 40%;
			}
			input {
			font-size: 14px;
			width: 222px;
		}
		}
		section {
			h1 {
			font-size: 23px	;	
			}
			h4 {
			font-size: 15px;
			}
			h2 {
			font-size: 18px;	
			}
			p {
		    font-size: 14px;
		    line-height: 22px;	
			}
		}


		section.know-more p {
			width: 340px;
		}
	}